<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <h1>Email Confirmation</h1>
    <p>Thank you for signing up to
      <a href='https://cubingcontests.com'>Cubing Contests</a>. Here is your email confirmation code:</p>
    <h3>{{code}}</h3>
    <p>If you didn't create an account on Cubing Contests, you can safely delete this email.</p>
  </body>
</html>