<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <h3>Email Confirmation</h3>
    <p>
      Thank you for signing up to
      <a href='{{ccUrl}}'>Cubing Contests</a>. Here is your email confirmation code:
    </p>
    <h3>{{code}}</h3>
    <p>
      If you didn't create an account on Cubing Contests, you can safely ignore this email. All this means is that
      someone either knows your email address or entered it by accident.
    </p>
  </body>
</html>