<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <h3>Password changed</h3>
    <p>
      Your password on
      <a href='{{ccUrl}}'>Cubing Contests</a>
      has been changed.
      <b>
        If you did not do this, please
        <a href='{{ccUrl}}/reset-password'>reset your password</a>
        as soon as possible.
      </b>
    </p>
  </body>
</html>