<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <h3>Privileges granted</h3>
    <p>
      You have been granted
      {{role}}
      privileges on
      <a href='{{ccUrl}}'>Cubing Contests</a>. Log out and
      <a href='{{ccUrl}}/login'>log back in</a>, and you will have access to the
      <a href='{{ccUrl}}/mod'>Moderator Dashboard</a>
      from the navigation bar.
    </p>
  </body>
</html>