#!/bin/sh

NEXTJS_PORT=3000
# Note: the `TZ` environment variable is crucial for date processing (i.e. validating dates, schedules, etc.).
# The time zone being set to UTC simplifies some of the date-related code (note that all dates are stored
# in UTC in the DB). This is only for local development, since the production environment already uses UTC.
# Code running client-side does not have this benefit and must account for the user's local time zone.
TZ=UTC

# WHEN UPDATING NEXT_PUBLIC_ VARIABLES, ALSO UPDATE THE BUILD ARGS IN THE RELEASE NEW IMAGE SCRIPT!
PROD_HOSTNAME="example.com" # for production
SUPABASE_HOSTNAME="supabase.example.com" # for production
NEXT_PUBLIC_BASE_URL="http://localhost:$NEXTJS_PORT" # only for local development; overwritten on build; BETTER_AUTH_URL must match this
NEXT_PUBLIC_PROJECT_NAME="RecordRanks"
PROJECT_ID="recordranks"
INSTANCE_MAINTAINER_EMAIL=""
NEXT_PUBLIC_AUTH_PROVIDERS="credential" # select your auth providers (e.g. 'credential' (email + password), 'credential,wca,google')
NEXT_PUBLIC_MULTITENANCY_ENABLED=false
METADATA_DESCRIPTION=""
METADATA_CONTESTS_DESCRIPTION=""
METADATA_RANKINGS_DESCRIPTION=""
METADATA_RECORDS_DESCRIPTION=""
METADATA_RULES_DESCRIPTION=""
METADATA_POSTS_DESCRIPTION=""
METADATA_ABOUT_DESCRIPTION=""
METADATA_EXPORTS_DESCRIPTION=""
ANALYTICS_SCRIPT_SRC=""
ANALYTICS_SCRIPT_CONTENT=""

RR_DB_HOST="localhost" # for local development
# RR_DB_HOST="$SUPABASE_HOSTNAME" # for production
RR_DB_PORT="6543"
RR_DB_NAME="postgres"
RR_DB_SCHEMA="record_ranks" # don't try to change this; migration files have this schema name hard-coded
RR_DB_USERNAME="rr_db_user"
RR_DB_PASSWORD="rr"
EMAIL_HOST="localhost" # if left empty, email sending will be disabled
# EMAIL_PORT=465 # for production; your transactional email provider may use a different port
EMAIL_PORT=25 # for local development
EMAIL_USERNAME="" # leave empty for local testing with smtp4dev
EMAIL_PASSWORD="" # leave empty for local testing with smtp4dev

BETTER_AUTH_URL="http://localhost:3000" # for local development; must match NEXT_PUBLIC_BASE_URL
# BETTER_AUTH_URL="https://$PROD_HOSTNAME" # for production
BETTER_AUTH_SECRET="secret_thats_long_enough_to_be_accepted_by_better_auth"
# WCA_OAUTH_CLIENT_ID="your-client-id-issued-by-wca-oauth" # Application ID from your WCA OAuth application
# WCA_OAUTH_SECRET="your_super_secure_secret"
# GOOGLE_CLIENT_ID="your-client-id-from-google-cloud"
# GOOGLE_CLIENT_SECRET="your_super_secure_secret"

DISABLE_CADDY_DOCKER_SERVICE=false # set to "true" if you don't want to use the Caddy service from docker-compose.rr.yml (e.g. if you have your own proxy solution)
DOCKER_IMAGE_NAME="<DOCKERHUB_USERNAME>/$PROJECT_ID-nextjs"

SUPABASE_PUBLIC_URL="http://localhost:8000" # for local development (has to match the Supabase Kong HTTP port variable)
# SUPABASE_PUBLIC_URL="https://$SUPABASE_HOSTNAME" # for production
LOGFLARE_API_BASE_URL="https://logs.$PROD_HOSTNAME" # this can't include a route, it must just be a domain name
LOGFLARE_PUBLIC_ACCESS_TOKEN="your-supabase-logflare-public-access-token"
SUPABASE_STORAGE_URL="$SUPABASE_PUBLIC_URL/storage/v1"
PUBLIC_EXPORTS_BUCKET_NAME="public_exports"
PUBLIC_BUCKET_NAME="public_bucket"
NEXT_PUBLIC_STORAGE_PUBLIC_BUCKET_BASE_URL="$SUPABASE_STORAGE_URL/object/public/$PUBLIC_BUCKET_NAME" # overwritten on build
SERVICE_ROLE_KEY="your-supabase-service-role-key"
