# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
.pnp
.pnp.js

# build files
client/.next/
client/out/
client/build
server/dist
server/helpers

# misc
.DS_Store
*.pem

# debug & logs
npm-debug.log*
*.log

# env files
.env*
!.env.example
!client/.env*
client/.env
client/.env*.local

# typescript
*.tsbuildinfo
client/next-env.d.ts

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Other
client/dump