.cr-icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 0;
  background: none;
  font-size: 1.5rem;
  color: white;

  &:active {
    color: lightgray;
  }
}

/* This class is used by react datepicker */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.flag-icon {
  width: 1.75rem;
}
