.cc-icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1rem 0.3rem;
  border: 0;
  background: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.cc-icon-button:hover {
  color: lightgray;
}

.cc-icon-button:active,
.cc-icon-button.cc-icon-button_active {
  color: #aaa;
}

.cc-flag-icon {
  width: 1.75rem;
  margin: 0;
}

/* 992px corresponds to Bootstrap's lg size */
@media (min-width: 992px) {
  .cc-vh-100-desktop-only {
    height: 100vh;
  }
}

/* Override Bootstrap's styling for the outline of a focused invalid input to make it easier to distinguish from
   other invalid inputs near it that are NOT focused (this only increases the alpha number in the rgba function) */
.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.65);
}

/* This class is used by react datepicker */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

/* 768px corresponds to Bootstrap's md size */
@media (max-width: 768px) {
  .cc-homepage-link {
    width: 100%;
    max-width: 12rem;
    white-space: nowrap;
  }
}
