<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <h3>Email Verification</h3>
    <p>
      Thank you for signing up to
      <a href="{{ccUrl}}">Cubing Contests</a>. Click the link below to verify your email:
    </p>
    <a href="{{verificationLink}}" style="font-weight: bold">Verify email</a>
    <p>
      If you didn't create an account on Cubing Contests, you can safely ignore this email. All this means is that
      someone either knows your email address or entered it by accident.
    </p>
  </body>
</html>
