<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <h1>Password Reset</h1>
    <p>
      Someone requested a password reset on <a href="{{ccUrl}}">Cubing Contests</a>
      using your email address. Click the link below to reset your password:
    </p>
    <a href="{{passwordResetLink}}">Reset password</a>
    <p>
      If you didn't make this password reset request, you can safely ignore this email. All this means is that someone
      either knows your email address or entered it by accident.
    </p>
  </body>
</html>
